attrs==19.1.0
azure-cognitiveservices-vision-face==0.4.0
azure-common==1.1.23
blis==0.2.4
certifi==2019.6.16
chardet==3.0.4
ChatterBot==1.0.5
chatterbot-corpus==1.2.0
Click==7.0
cymem==2.0.2
dnspython==1.16.0
elasticsearch==7.0.2
Flask==1.1.0
Flask-Cors==3.0.8
get==2019.4.13
gunicorn==19.4.5
ibm-cloud-sdk-core==0.5.1
ibm-watson==3.1.2
idna==2.8
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.10.1
jsonschema==3.0.1
MarkupSafe==1.1.1
mathparse==0.1.2
msrest==0.6.8
murmurhash==1.0.2
nltk==3.4.4
numpy==1.16.4
oauthlib==3.0.2
Pint==0.9
plac==0.9.6
post==2019.4.13
preshed==2.0.1
public==2019.4.13
PyJWT==2.4.0
pymongo==3.8.0
pyrsistent==0.15.2
python-dateutil==2.8.0
pytz==2019.1
PyYAML==3.13
query-string==2019.4.13
request==2019.4.13
requests==2.22.0
requests-oauthlib==1.2.0
six==1.12.0
spacy==2.1.4
SQLAlchemy==1.2.19
srsly==0.0.7
thinc==7.0.4
tqdm==4.32.2
urllib3==1.25.3
wasabi==0.2.2
websocket-client==0.48.0
Werkzeug==0.15.4
